<!-- Header -->
<header id="header" class="skel-layers-fixed">
    <h1><a href="{{ site.baseurl }}/" class="site-title" >{{ site.title }}</a></h1>
    <nav id="nav">
        <ul>
            <li><a href="{{ site.baseurl }}/">Home</a></li>
            <li><a class="page-link" href="{{ site.baseurl}}aadl.html">About AADL</a></li>
            <li><a class="page-link" href="{{ site.baseurl}}learn.html">Learning AADL</a></li>
            <li><a class="page-link" href="{{ site.baseurl}}tools.html">Tools</a></li>
            <li><a class="page-link" href="{{ site.baseurl}}news.html">News</a></li>
          </ul>
    </nav>
</header>
